body {
	font-family: sans-serif;
	margin: 0;
	box-sizing: border-box;
}

.form-control {
	border-radius: 3px;
	background-color: white;
	border: none;
	box-shadow: 0 0 2px;
	padding: 5px;
	width: 100%;
	height: 35px;
	box-sizing: border-box;
}

.form-group-addon {
	box-shadow: 0 0 2px;
	margin: 3px;
	overflow: hidden;
	border-radius: 3px;
}

.form-group-addon .form-control {
	width: calc(100% - 80px);
	box-shadow: none;
	border-radius: 0;
}

.form-group-addon .addon {
	width: 80px;
	float: right;
	border-radius: 0;
	box-shadow: none;
}

.form-control:focus {
	box-shadow: 0 0 5px;
}

.button {
	background-color: #99A273;
	border: none;
	border-radius: 3px;
	padding: 5px 10px;
	display: block;
	height: 35px;
}

.button:hover {
	background-color: #D8995A;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.fill-content {
	height: calc(100vh - 60px);
}


.table th {
	color:#222222;
	background-color:#eee;
	padding: 3px;
	background-clip: padding-box;
}

.table td {
	padding: 3px;
}

.table.sortable th {
	background-color: #99A273;
	position: relative;
	height: 25px;
	overflow: hidden;
}

.table.sortable th:hover, .table.sortable th.active {
	background-color: #D8995A;
}

.table.sortable th a {
	display: block;
	position: absolute;
	height: 25px;
	line-height: 25px;
	top: 3px;
	bottom: 3px;
	left: 3px;
	right: 3px;
	text-decoration: none;
	color: black;
}

.table {
    border-collapse: collapse;
}

.table, .table th, .table td {
    border: 1px solid #CCCCCC;
}

.status-unknown {
	color: #AAA;
}

.status-connected {
	color: #22CC22;
}

.status-disconnected {
	color: #FF2222;
}


