{% macro navigation_tab(endpoint, text) %}
<div class="navigation-tab {{ 'active' if request.url_rule.endpoint == endpoint }}">
	<a href="{{ url_for(endpoint) }}">
		<span class="text">{{ text }}</span>
	</a>
</div>
{% endmacro %}