{% from 'macros/_navigation.html' import navigation_tab %}
<!DOCTYPE html>
<html>
<head>
	<link href="{{ asset_url('style.css') }}" rel="stylesheet">
	{% block title %}<title>{{ title }}{% endblock %}
</head>
<body>
	{% block header %}
	<div class="header">
		<div class="header-title">
			<a href="{{ url_for('views.index') }}">
				<span class="text">Simple Software Reports</span>
			</a>
		</div>
		
		<div class="navigation-tabs">
			{{ navigation_tab('views.index', 'Search') }}
			{# navigation_tab('clients.index', 'Clients') #}
		</div>
	</div>
	{% endblock %}
	
	<div class="content">
		{% block content %}{% endblock %}
	</div>
	
	<div class="footer">(c) 2019 sphipu</div>
</body>
</html>