{% extends 'base.html' %}

{% block title %}
	<title>Simple Software REports - {{ query_str }}</title>
{% endblock %}

{% macro sortable_header(text, key) %}
<th class="sortable">
	{% set reverse_item = sort_key == key and not reverse %}
	<a href="?q={{ query_str | quote_plus }}&s={{ key }}&r={{ '1' if reverse_item else 0 }}"
	   class="{{ 'sorted' if key == sort_key }}{{ '-reversed' if key == sort_key and not reverse_item }}">
		{{ text }}
	</a>
</th>
{% endmacro %}

{% block content %}
	<form method="GET" action="{{ url_for('views.search') }}" class="search-form">
		<div class="form-group-addon">
			<input class="form-control search-box" name="q" type="text" value="{{ query_str }}">
			<button type="submit" class="addon addon-right button">Search</button>
		</div>
	</form>
	<table class="table">
		<tr>
			{{ sortable_header('Computer Name', 0) }}
			{{ sortable_header('Software', 1) }}
			{{ sortable_header('Version', 2) }}
			{{ sortable_header('Current User', 3) }}
			{{ sortable_header('Software Publisher', 4) }}
			{{ sortable_header('Last Connection', 5) }}
		</tr>
		{% for row in table %}
		<tr>
			<td>{{ row.computer }}</td>
			<td>{{ row.software }}</td>
			<td>{{ row.version }}</td>
			<td>{{ row.user }}</td>
			<td>{{ row.publisher }}</td>
			<td>{{ row.last_connection | age }}</td>
		</tr>
		{% endfor %}
	</table>
	
{% endblock %}